WebClientV2/Connected Services/WCFService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8079/WCFService/Service/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFService" />
  <xs:import schemaLocation="http://localhost:8079/WCFService/Service/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DataAccessLayer" />
  <xs:element name="RegisterClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyServer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="eventData" nillable="true" type="q1:EventDataType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="accountType" type="xs:boolean" />
        <xs:element minOccurs="0" name="zip" type="xs:int" />
        <xs:element minOccurs="0" name="currentPartyID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataAccessLayer" minOccurs="0" name="GetUserResult" nillable="true" type="q2:UserTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLogInAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLogInAccountResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateParty">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DataAccessLayer" minOccurs="0" name="party" nillable="true" type="q3:PartyTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePartyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreatePartyResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPartyById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPartyByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DataAccessLayer" minOccurs="0" name="GetPartyByIdResult" nillable="true" type="q4:PartyTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllParties">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPartiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DataAccessLayer" minOccurs="0" name="GetAllPartiesResult" nillable="true" type="q5:ArrayOfPartyTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllNotJoinedParties">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllNotJoinedPartiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DataAccessLayer" minOccurs="0" name="GetAllNotJoinedPartiesResult" nillable="true" type="q6:ArrayOfPartyTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllJoinedParties">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllJoinedPartiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DataAccessLayer" minOccurs="0" name="GetAllJoinedPartiesResult" nillable="true" type="q7:ArrayOfPartyTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOwner">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOwnerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DataAccessLayer" minOccurs="0" name="GetOwnerResult" nillable="true" type="q8:UserTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveParty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemovePartyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemovePartyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateParty">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DataAccessLayer" minOccurs="0" name="updatedParty" nillable="true" type="q9:PartyTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePartyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/DataAccessLayer" minOccurs="0" name="UpdatePartyResult" nillable="true" type="q10:PartyTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUserAtParty">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/DataAccessLayer" minOccurs="0" name="user" nillable="true" type="q11:UsersAtParty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUserAtPartyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserForID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserForIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/DataAccessLayer" minOccurs="0" name="GetUserForIDResult" nillable="true" type="q12:UsersAtParty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/DataAccessLayer" minOccurs="0" name="GetAllUsersResult" nillable="true" type="q13:ArrayOfUsersAtParty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserAfterFK">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="partyID" type="xs:long" />
        <xs:element minOccurs="0" name="userID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserAfterFKResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/DataAccessLayer" minOccurs="0" name="GetUserAfterFKResult" nillable="true" type="q14:UsersAtParty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPartiesOfUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPartiesOfUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/DataAccessLayer" minOccurs="0" name="GetAllPartiesOfUserResult" nillable="true" type="q15:ArrayOfPartyTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveUserAtParty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" type="xs:long" />
        <xs:element minOccurs="0" name="PartyID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveUserAtPartyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveUserAtPartyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserAtParty">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/DataAccessLayer" minOccurs="0" name="updatedUser" nillable="true" type="q16:UsersAtParty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserAtPartyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/DataAccessLayer" minOccurs="0" name="UpdateUserAtPartyResult" nillable="true" type="q17:UsersAtParty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSongInPartyPlaylist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="partyID" type="xs:long" />
        <xs:element minOccurs="0" name="songURL" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rating" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSongInPartyPlaylistResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSongFromPartyPlaylist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="partyID" type="xs:long" />
        <xs:element minOccurs="0" name="songURL" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSongFromPartyPlaylistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/DataAccessLayer" minOccurs="0" name="GetSongFromPartyPlaylistResult" nillable="true" type="q18:SongsForPartyTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSongs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="partyID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSongsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/DataAccessLayer" minOccurs="0" name="GetAllSongsResult" nillable="true" type="q19:ArrayOfSongsForPartyTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSongFromPartyPlaylist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="partyID" type="xs:long" />
        <xs:element minOccurs="0" name="songURL" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSongFromPartyPlaylistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveSongFromPartyPlaylistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSongsForParty">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/DataAccessLayer" minOccurs="0" name="songs" nillable="true" type="q20:SongsForPartyTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSongsForPartyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/DataAccessLayer" minOccurs="0" name="UpdateSongsForPartyResult" nillable="true" type="q21:SongsForPartyTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRating">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/DataAccessLayer" minOccurs="0" name="rating" nillable="true" type="q22:SongRatingFromPartyTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRatingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddRatingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateTotalSongRating">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="partyID" type="xs:long" />
        <xs:element minOccurs="0" name="songURL" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateTotalSongRatingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CalculateTotalSongRatingResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRatings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="partyID" type="xs:long" />
        <xs:element minOccurs="0" name="userID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRatingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/DataAccessLayer" minOccurs="0" name="GetAllRatingsResult" nillable="true" type="q23:ArrayOfSongRatingFromPartyTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveRating">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="partyID" type="xs:long" />
        <xs:element minOccurs="0" name="userID" type="xs:long" />
        <xs:element minOccurs="0" name="songURL" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveRatingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveRatingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VoteSong">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/DataAccessLayer" minOccurs="0" name="updateSongRating" nillable="true" type="q24:SongRatingFromPartyTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VoteSongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/DataAccessLayer" minOccurs="0" name="VoteSongResult" nillable="true" type="q25:SongRatingFromPartyTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BroadcastToClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="eventData" nillable="true" type="q26:EventDataType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>