ClientChooseEm/Connected Services/WCFService/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8079/WCFService/Service/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DataAccessLayer" />
  <xs:complexType name="EventDataType">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientId" type="xs:long" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataAccessLayer" minOccurs="0" name="EventMessage" nillable="true" type="q1:ArrayOfSongsForPartyTable" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventDataType" nillable="true" type="tns:EventDataType" />
</xs:schema>